/* Base Styles Start */
@font-face {
  font-family: "Segoe UI";
  src: url("./fonts/segoe-ui-4-cufonfonts/Segoe\ UI.ttf") format("truetype");
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("./fonts/source-sans-pro/SourceSansPro-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("./fonts/source-sans-pro/SourceSansPro-Regular.ttf")
    format("truetype");
  font-weight: 400;
}

:root {
  --font-family: "Source Sans Pro", sans-serif;
  --second-family: "Segoe UI", sans-serif;
  --third-family: "Arial", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: var(--second-family);
}

button {
  font-family: var(--second-family);
  background: none;
  outline: none;
  border: none;
  display: block;
  color: #231f20;
  font-weight: 400;
}

.container {
  max-width: 1260px;
  width: 100%;
  margin: 0 auto;
}

.main-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 56px;
  color: #231f20;
}

.description {
  font-weight: 400;
  font-size: 20px;
}

.btn-light {
  border-radius: 8px;
  background: #f5f5f5;
}

.gray-box {
  width: 100%;
  height: 95px;
  background: #eeeff2;
}
/* Base Styles End */

/* Mobile View Start*/
.mobile-view {
  display: none;
}
/* Mobile View End */

/* Mobile Header Start */
.mobile-header {
  display: none;
}
/* Mobile Header End */

/* Top Wrap Start */
.top-wrap {
  position: relative;
  height: 572px;
}
/* Top Wrap End */

/* Header Start */
.header {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  background: linear-gradient(
    180deg,
    rgba(35, 31, 32, 0.6) 31.49%,
    rgba(35, 31, 32, 0) 81.87%
  );
  padding: 9px 0 8px;
  border-bottom: 0.75px solid rgba(255, 255, 255, 0.3);
}

.header__navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__navbar .header__nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__navbar .header__nav-list .header__nav-list__item:not(:last-child) {
  margin-right: 108px;
}

.header__navbar .header__nav-list .header__nav-list__item a {
  font-size: 16px;
  font-weight: 500;
  color: #f5f5f5;
  line-height: 21.28px;
}
/* Header End */

/* Promo Start */
.promo {
  padding: 92px 0 0;
  position: relative;
  z-index: 2;
}
.promo__content {
  margin-bottom: 37px;
}
.promo__content .promo__main-title {
  width: 652px;
  color: #f5f5f5;
}

.promo__content .promo__description {
  margin-top: 10px;
  line-height: 25.7px;
  width: 683px;
  color: #f5f5f5;
  opacity: 0.7;
}

.promo__content .promo__description.mobile-promo__description {
  display: none;
}

.promo__btns {
  display: flex;
  align-items: center;
}

.promo__btns .promo__btn .link {
  font-weight: 400;
  font-size: 20px;
  width: 100%;
  height: 100%;
}

.promo__btns .promo__btn-price {
  padding: 10px 30px 12px;
  margin-right: 24px;
}

.promo__btns .promo__btn-price .link {
  color: #231f20;
}

.promo__btns .promo__btn-partner {
  border: 1px solid #bcbdc0;
  border-radius: 8px;
  padding: 10px 22px 12px 22px;
}

.promo__btns .promo__btn-partner .link {
  color: #f5f5f5;
}
/* Promo End */

/* Mobile Banner Start */
.mobile-banner {
  display: none;
}
/* Mobile Banner End */

/* Banner Slider Start*/
.banner-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
}

.banner-slider .swiper {
  height: 100%;
}

.banner-slider .swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-slider .swiper .swiper-wrapper {
  display: flex;
}

.banner-slider .swiper .swiper-slide .img {
  width: 100%;
  height: 100%;
}

.banner-slider .swiper .scrollbar {
  border-radius: inherit;
  height: 5px;
  width: 100%;
  background: rgba(87, 88, 90, 1);
}

.banner-slider .swiper .swiper-scrollbar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 33px;
  width: 450px;
  height: 5px;
  background: #57585a;
}

.banner-slider .swiper .swiper-scrollbar-drag {
  position: relative;
  background: #f5f5f5;
  height: 5px;
  cursor: grabbing;
}

.banner-slider .swiper .swiper-scrollbar-drag:hover {
  transition: 1s;
  background: #f5f5f5;
  height: 7px;
  top: -1px;
}

.banner-slider .swiper .swiper-scrollbar .swiper-scrollbar-horizontal {
  width: 158px;
}
/* Banner Slider End */

/* Products Start*/
.products {
  padding: 32px 90px 124px;
  background-color: #eeeff2;
}

.products .container {
  overflow: hidden;
}

.products .products__title-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.products .products__title-wrap .products__main-title {
  color: #231f20;
}

.products .products__title-wrap .products__btn {
  display: flex;
  align-items: center;
  width: 141px;
  height: 27px;
}

.products .products__title-wrap .products__btn .products__btn-text {
  font-size: 15px;
}

.products .products__title-wrap .products__btn .products__btn-icon {
  display: block;
  background: url("./assets/icons/arrow.svg") center center / contain no-repeat;
  width: 20px;
  height: 20px;
  margin-left: 16px;
}

.products .swiper {
  height: auto;
}

.products .swiper-wrapper .swiper-slide {
  min-width: 322px;
  width: 100%;
  height: 446px;
  background: #231f20;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  margin-right: 30px;
}

.products .swiper-wrapper .swiper-slide .slide {
  position: absolute;
  background: linear-gradient(
    180deg,
    rgba(35, 31, 32, 0) 0%,
    rgba(35, 31, 32, 0.89) 77.22%
  );
  bottom: 0;
  padding-left: 30px;
  display: flex;
  height: 127px;
  z-index: 1;
  width: 100%;
  align-items: center;
}

.products .swiper-wrapper .swiper-slide .slide .slide-title {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 24px;
  color: #fff;
}

.slide-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.5; /* Здесь задается прозрачность для изображения */
}

.products .swipers .swiper-scrollbar {
  position: static;
  margin: 25px auto 0;
  width: 450px;
  height: 5px;
}

.products .swipers .swiper-scrollbar .swiper-scrollbar-drag {
  background: #57585a;
  cursor: grabbing;
}
/* Products End */

/* About Company Start */
.about-company .container {
  overflow: hidden;
}

.content-wrap {
  height: 632px;
  position: relative;
  display: flex;
}

.content-wrap .content {
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 859px;
  height: 100%;
  background: #fcfdff;
  transform: translateX(-352px);
}

.content-wrap .content::after {
  top: -87px;
  left: 0;
  position: absolute;
  z-index: 1;
  height: 634px;
  width: 859px;
  content: "sdasdasd";
  background: #fcfdff;
  transform: skew(20deg) translate(116px, 86px);
}

.content-wrap .content .title-wrap {
  width: 546px;
  height: 475px;
  position: absolute;
  z-index: 2;
  top: 79px;
  left: 355px;
}

.content-wrap .content .title-wrap .content__description {
  margin-top: 25px;
  font-weight: 400;
  font-size: 20px;
  color: #231f20;
}

.content-wrap .content .title-wrap .content__description:not(:last-child) {
  margin-bottom: 20px;
}

.content-wrap .img-wrap {
  position: absolute;
  top: 0;
  right: -62px;
  height: 100%;
  z-index: -1;
}

.content-wrap .img-wrap {
  font-size: 0;
}

.content-wrap .img-wrap img {
  object-fit: contain;
}

.advantages-list-mobile {
  display: none;
}

.advantages-list-desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;
}

.advantages-list-desktop .advantages-list__item-wrap {
  width: 342px;
}

.advantages-list__item-wrap .advantages-list__item {
  display: flex;
  align-items: center;
}

.advantages-list__item-wrap .advantages-list__item:not(:last-child) {
  margin-bottom: 25px;
}

.advantages-list__item .icon {
  display: block;
}

.advantages-list__item .gost-icon {
  background: url("./assets/icons/gost.svg") center center / contain no-repeat;
  width: 41px;
  height: 35px;
}
.advantages-list__item .certificate-icon {
  background: url("./assets/icons/certificate.svg") center center / contain
    no-repeat;
  width: 33px;
  height: 33px;
}
.advantages-list__item .stock-icon {
  background: url("./assets/icons/stock.svg") center center / contain no-repeat;
  width: 42px;
  height: 36px;
}
.advantages-list__item .production-icon {
  background: url("./assets/icons/production.svg") center center / contain
    no-repeat;
  width: 43px;
  height: 40px;
}
.advantages-list__item .price-icon {
  background: url("./assets/icons/price.svg") center center / contain no-repeat;
  width: 40px;
  height: 40px;
}
.advantages-list__item .payment-icon {
  background: url("./assets/icons/payment.svg") center center / contain
    no-repeat;
  width: 40px;
  height: 40px;
}

.advantages-list__item .text {
  font-weight: 400;
  font-size: 20px;
  color: #231f20;
  margin-left: 12px;
}
/* About Company End */

/* Services Start */
.services {
  padding: 50px 0 0;
}
.services__card-list {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.services__card-list .services__card-list__item {
  margin-bottom: 40px;
  position: relative;
  border-radius: 6px;
  width: 615px;
  height: 272px;
  background: linear-gradient(
      90deg,
      rgba(47, 47, 47, 0.8) 0%,
      rgba(85, 85, 85, 0.8) 100%
    ),
    url("./assets/images/services-rolled-metal.png");
  background-position: center center;
  background-size: cover;
}

.services__card-list .services__card-list__item:nth-child(1) {
  background: linear-gradient(
      90deg,
      rgba(47, 47, 47, 0.8) 0%,
      rgba(85, 85, 85, 0.8) 100%
    ),
    url("./assets/images/services-metal.png") center center / cover no-repeat;
}

.services__card-list .services__card-list__item:nth-child(2) {
  background: linear-gradient(
      90deg,
      rgba(47, 47, 47, 0.8) 0%,
      rgba(85, 85, 85, 0.8) 100%
    ),
    url("./assets/images/services-strips.png") center center / cover no-repeat;
}

.services__card-list .services__card-list__item:nth-child(4) {
  background: linear-gradient(
      90deg,
      rgba(47, 47, 47, 0.8) 0%,
      rgba(85, 85, 85, 0.8) 100%
    ),
    url("./assets/images/services-delivery.jpeg");
}
.services__card-list__item .content {
  padding: 40px 33px 0;
  color: #f5f5f5;
}

.services__card-list__item .content .title {
  font-weight: 600;
  font-size: 30px;
}
.services__card-list__item .content .description {
  font-weight: 400;
  font-size: 19px;
  margin-top: 10px;
}
.services__card-list__item .btn {
  position: absolute;
  right: 39px;
  bottom: 30px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 8px 14px;
  width: 170px;
  height: 36px;
}
.services__card-list__item .btn .btn-text {
  font-weight: 400;
  font-size: 14px;
  color: #231f20;
  margin-right: 12px;
}
.services__card-list__item .btn .btn-icon {
  display: block;
  background: url("./assets/icons/arrow.svg") center center / contain no-repeat;
  width: 13px;
  height: 13px;
}
/* Services End */

/* Partners Start */
.partners .main {
  margin: 50px 0 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.partners .main .content .description {
  width: 400px;
  height: 420px;
  margin-top: 36px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #444;
}
.partners .main .content .description .devided-description:not(:last-child) {
  display: block;
  margin-bottom: 20px;
}
.partners-img-mobile {
  display: none;
}
.parters-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 72px;
}
.parters-img .img-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
  width: 185px;
  height: 111px;
}
.parters-img .img-wrap .img {
  font-size: 0;
  /* width: 100%; */
  /* height: 100%; */
  object-fit: contain;
}
/* Partners End */

/* For partners Start */
.for-partners {
  position: relative;
  padding: 34px 0 53px;
  background: url("./assets/images/services-metal.png") center center / cover
    no-repeat;
  height: 249px;
}
.for-partners .content-box {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Цвет затемнения - черный с прозрачностью 0.5 */
}
.for-partners .title {
  color: #f5f5f5;
}
.for-partners .form {
  display: flex;
  align-items: center;
  margin: 30px 0 14px;
}
.for-partners .form .select-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.for-partners .form .select-wrap .select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select-wrap .icon {
  display: block;
  background: url("./assets/icons/select.svg") center center / contain no-repeat;
  width: 15px;
  height: 15px;
  position: absolute;
  z-index: 1;
  right: 50px;
  pointer-events: none;
}

.for-partners .form .input {
  outline: none;
  margin-right: 31px;
  border: 1px solid #f5f5f5;
  border-radius: 4px;
  padding: 12px 22px;
  width: 326px;
  height: 49px;
  background: none;
  font-weight: 400;
  font-size: 20px;
  color: #bcbdc0;
}

.for-partners .form .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d2ab66;
  border-radius: 5px;
  padding: 11px 22px;
  width: 142px;
  height: 47px;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #f5f5f5;
}

.for-partners .accept {
  display: flex;
  align-items: center;
  justify-content: center;
}

.for-partners .accept .check {
  border: 0.5px solid #d2ab66;
  border-radius: 2px;
  width: 16px;
  height: 16px;
  margin-right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.for-partners .accept .check i {
  display: block;
  width: 8px;
  height: 8px;
  background: url("./assets/icons/checkmark.svg") center center / contain
    no-repeat;
}
.for-partners .accept .input {
  display: none;
}

.for-partners .accept .input:checked ~ .check i {
  display: none;
}
.for-partners .accept .text {
  user-select: none;
  cursor: pointer;
  font-weight: 400;
  color: #f5f5f5;
}
.for-partners .accept .text .link {
  font-family: var(--second-family);
  font-size: 14px;
  text-decoration: underline;
}
/* For partners End */

/* Map Start */
.map {
  background-color: #eeeff2;
}
.map .main-title {
  margin-top: 50px;
}
#map-wrap {
  height: 460px;
  position: relative;
  margin-top: 40px;
  margin-bottom: 50px;
}

.map-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 145px;
  height: 112px;
  background: url("./assets/images/map-location.png") center center / contain
    no-repeat;
}

.map-img.first {
  position: absolute;
  z-index: 1;
  top: 25%;
  left: 48%;
}
.map-img.second {
  position: absolute;
  z-index: 1;
  top: 8%;
  left: 76px;
}

.map-img .title-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 28px;
  height: 35px;
  margin-top: 10px;
}
.map-img .title-wrap .icon {
  display: block;
  width: 22px;
  height: 22px;
  background: url("./assets/icons/map-icon.svg") center center / contain
    no-repeat;
}
.map-img .title-wrap .title {
  font-weight: 600;
  font-size: 10px;
  color: #231f20;
}
.map-img .description {
  margin-top: 8px;
}
.map-img .description span {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #231f20;
  display: block;
}
.map .height80 {
  height: 80px;
}
/* Map End */

/* Footer Start */
.footer {
  background: #231f20;
  height: 288px;
}
.footer .footer-container {
  display: flex;
}
.footer .logo-wrap {
  margin-top: 43px;
  margin-right: 100px;
}
.footer .logo-wrap .img {
  width: 197px;
  height: 88px;
  object-fit: contain;
  margin-bottom: 11px;
}
.footer .logo-wrap .logo-text {
  display: block;
  font-weight: 400;
  font-size: 12px;
  color: #f5f5f5;
}

.footer .links-wrap {
  display: flex;
  justify-content: space-between;
  margin: 65px 0 79px;
  width: 962px;
  height: 144px;
}
.footer .links-wrap .navbar {
  width: 354px;
  height: 72px;
}
.footer .links-wrap .navbar .nav-list {
  margin: 36px 0;
}
.footer .links-wrap .navbar .nav-list .first-list {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
  color: #f5f5f5;
  font-weight: 600;
  font-size: 16px;
}

.footer .links-wrap .navbar .nav-list .second-list {
  color: #f5f5f5;
  font-weight: 600;
  display: flex;
}
.footer .links-wrap .navbar .nav-list .nav-list__item {
  margin-right: 25px;
}

.contacts-container {
  width: 430px;
  height: 144px;
}
.contacts-container .title {
  font-weight: 600;
  font-size: 24px;
  color: #f5f5f5;
  margin-bottom: 17px;
}
.contacts-container .contacts-wrap {
  display: flex;
  justify-content: space-between;
}
.contacts-container .contacts-wrap .message {
  margin-right: 30px;
}
.contacts-container .contacts-wrap .message .item {
  display: flex;
}
.contacts-container .contacts-wrap .message .item.phone .text {
  display: flex;
  margin-bottom: 15px;
}
.contacts-container .contacts-wrap .message .item.phone .icon {
  display: block;
  width: 26px;
  height: 26px;
  margin-right: 10px;
  background: url("./assets/icons/telephone.svg") center center / contain
    no-repeat;
}
.contacts-container .contacts-wrap .message .item.email .icon {
  display: block;
  margin-right: 10px;
  width: 27px;
  height: 23px;
  background: url("./assets/icons/inbox.svg") center center / contain no-repeat;
}
.contacts-container .contacts-wrap .message .item .text {
  display: block;
  font-weight: 400;
  font-size: 16px;
  color: #f5f5f5;
}

.contacts-container .contacts-wrap .location {
  margin-bottom: 8px;
}
.contacts-container .contacts-wrap .location .item {
  display: flex;
  width: 226px;
  height: 63px;
}

.contacts-container .contacts-wrap .location .item.location .icon {
  display: block;
  min-width: 24px;
  height: 24px;
  background: url("./assets/icons/location.svg") center center / contain
    no-repeat;
}
.contacts-container .contacts-wrap .location .item.time .icon {
  display: block;
  width: 24px;
  height: 24px;
  background: url("./assets/icons/time.svg") center center / contain no-repeat;
}
.contacts-container .contacts-wrap .location .item .text {
  font-weight: 400;
  font-size: 16px;
  color: #f5f5f5;
  margin-left: 10px;
}

/* Footer End */

/* Mobile */
@media screen and (max-width: 391px) {
  /* Base Styles */
  .container {
    max-width: 330px;
    width: 100%;
  }
  .gray-box {
    display: none;
  }
  .top-wrap {
    height: 352px;
  }
  .main-title {
    font-size: 20px;
    line-height: 26px;
  }

  /* Mobile view Start */
  .mobile-view {
    display: block;
  }
  /* Mobile view End */

  /* Mobile Header Start */
  .mobile-header {
    display: block;
    margin-top: 20px;
  }
  .mobile-header .logo-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mobile-header .logo-wrap .img {
    width: 81px;
    height: 36px;
    object-fit: contain;
  }
  .mobile-header .logo-wrap .burger-icon {
    display: block;
    width: 29px;
    height: 18px;
    background: url("./assets/icons/burger-icon.svg") center center / contain
      no-repeat;
  }
  /* Mobile Header End */

  /* Header Start */
  .header {
    display: none;
  }
  /* Header End */

  /* Promo Start */
  .promo {
    padding: 57px 0 0;
  }
  .promo__content {
    margin-bottom: 50px;
  }
  .promo__content .promo__main-title {
    width: 100%;
    font-size: 18px;
    line-height: 25px;
  }
  .promo__content .promo__description {
    display: none;
    font-size: 12px;
    width: 182px;
    opacity: 0.7;
    line-height: 15px;
    margin-top: 8px;
  }
  .promo__content .promo__description.mobile-promo__description {
    display: block;
  }
  .promo__btns {
    margin-bottom: 30px;
  }
  .promo__btns .promo__btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .promo__btns .promo__btn .link {
    font-weight: 400;
    font-size: 11px;
    width: 100%;
    height: 100%;
  }
  .promo__btns .promo__btn-price {
    border-radius: 4px;
    padding: 6px 10px 8px 10px;
    min-width: 128px;
    height: 30px;
    margin-right: 10px;
  }
  .promo__btns .promo__btn-price .link {
    color: #231f20;
  }
  .promo__btns .promo__btn-partner {
    border: 1px solid #f5f5f5;
    border-radius: 4px;
    padding: 6px 10px 8px 10px;
    min-width: 114px;
    height: 30px;
  }
  .promo__btns .promo__btn-partner .link {
    color: #f5f5f5;
  }
  /* Promo End */

  /* Mobile banner Start */
  .mobile-banner {
    display: block;
    position: absolute;
    top: 104px;
    left: 0;
    width: 390px;
    height: 252px;
  }
  .mobile-banner .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /* Mobile banner End */

  /* Banner Slider Start */
  .banner-slider {
    display: none;
  }
  /* Banner Slider End */

  /* Products Start */
  .products {
    padding: 0;
    height: 342px;
    position: relative;
    overflow: hidden;
  }
  .products .products__title-wrap {
    margin-bottom: 14px;
  }
  .products .products__title-wrap .products__main-title {
    font-size: 20px;
  }
  .products .products__title-wrap .products__btn {
    width: 85px;
    height: 16px;
  }
  .products .products__title-wrap .products__btn .products__btn-text {
    font-size: 12px;
  }
  .products .products__title-wrap .products__btn .products__btn-icon {
    width: 13px;
    height: 9px;
    margin-left: 10px;
  }
  .products .swiper-wrapper {
    position: absolute;
    top: 58px;
    height: auto;
  }
  .products .swiper-wrapper .swiper-slide {
    min-width: 155px;
    max-width: 155px;
    width: 100%;
    height: 216px;
    background: #231f20;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 14px;
  }
  .products .swiper-wrapper .swiper-slide .slide {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 7px;
    height: 56px;
    padding-bottom: 8px;
  }
  .products .swiper-wrapper .swiper-slide .slide .slide-title {
    font-size: 14px;
  }
  .products .swiper-wrapper .swiper-slide .slide .slide-description {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 10px;
    line-height: 120%;
    color: #f5f5f5;
  }
  .products .swipers .swiper-scrollbar {
    display: block;
    position: absolute;
    bottom: 49px;
    width: 190px;
    height: 3px;
    margin-left: 100px;
  }
  .products .swipers .swiper-scrollbar.swiper-scrollbar-lock {
    display: block !important;
  }
  .products .swipers .swiper-scrollbar .swiper-scrollbar-drag {
    background: #57585a;
    cursor: grabbing;
    width: 56px;
  }
  /* Products End */
  /* About Company Start*/
  .about-company {
    overflow: hidden;
  }
  .about-company .container {
    overflow: visible;
  }
  .content-wrap {
    height: 236px;
  }
  .content-wrap .content {
    width: 324px;
    transform: translateX(-141px);
  }

  .content-wrap .content::after {
    top: -87px;
    left: 0;
    position: absolute;
    z-index: 1;
    height: 238px;
    width: 324px;
    content: "";
    transform: skew(20deg) translate(23px, 86px);
  }
  .content-wrap .img-wrap img {
    height: 100%;
  }
  .content-wrap .content .title-wrap {
    width: 223px;
    height: 150px;
    top: 21px;
    left: 141px;
  }
  .content-wrap .content .title-wrap .content__title {
    font-size: 20px;
    line-height: 30px;
  }
  .content-wrap .content .title-wrap .content__description:not(:first-child) {
    display: none;
  }
  .content-wrap .content .title-wrap .content__description.first-description {
    display: block;
    font-weight: 400;
    margin-top: 7px;
    font-size: 12px;
    color: #231f20;
    margin-bottom: 0;
    margin-top: 7px;
  }

  .advantages-list-desktop {
    display: none;
  }

  .advantages-list-mobile {
    display: flex;
    margin: 11px 0;
  }

  .advantages-list-mobile .advantages-list__item-wrap-mobile {
    min-width: 171px;
  }
  .advantages-list-mobile .advantages-list__item-wrap-mobile:not(:last-child) {
    margin-right: 24px;
  }

  .advantages-list-mobile
    .advantages-list__item-wrap-mobile
    .advantages-list__item {
    display: flex;
    align-items: center;
  }

  .advantages-list__item .gost-icon {
    width: 17px;
    height: 17px;
  }
  .advantages-list__item .certificate-icon {
    width: 15px;
    height: 15px;
  }
  .advantages-list__item .stock-icon {
    width: 17px;
    height: 15px;
  }
  .advantages-list__item .production-icon {
    width: 16px;
    height: 15px;
  }
  .advantages-list__item .price-icon {
    width: 15px;
    height: 15px;
  }
  .advantages-list__item .payment-icon {
    width: 15px;
    height: 15px;
  }
  .advantages-list__item .text {
    font-weight: 400;
    font-size: 10px;
    margin-left: 7px;
  }
  /* About Company End*/

  /* Services Start */
  .services {
    padding: 40px 0;
    background-color: #eeeff2;
  }
  .services__card-list {
    margin-top: 26px;
    margin-bottom: 0;
  }
  .services__card-list .services__card-list__item {
    border-radius: 3px;
    width: 330px;
    height: 146px;
    margin-bottom: 16px;
  }
  .services__card-list .services__card-list__item.last-item {
    margin-bottom: 0;
  }

  .services__card-list__item .content {
    padding: 21px 17px 0;
    color: #f5f5f5;
  }
  .services__card-list__item .content .title {
    font-size: 16px;
  }
  .services__card-list__item .content .description {
    font-size: 10px;
    margin-top: 5px;
  }
  .services__card-list__item .btn {
    position: absolute;
    right: 18px;
    bottom: 14px;
    display: flex;
    align-items: center;

    border-radius: 3px;
    padding: 4px 8px;
    width: 125px;
    height: 24px;
  }
  .services__card-list__item .btn .btn-text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 10px;
    color: #231f20;
    margin-right: 8px;
  }
  .services__card-list__item .btn .btn-icon {
    display: block;
    background: url("./assets/icons/arrow.svg") center center / contain
      no-repeat;
    width: 7px;
    height: 8px;
  }
  /* Services End */

  /* Partners Start */
  .partners {
    background-color: #eeeff2;
    padding-bottom: 50px;
  }
  .partners .main {
    margin: 0;
    display: block;
  }
  .partners .main .content .description {
    display: none;
  }
  .parters-img {
    display: none;
  }
  .partners-img-mobile {
    display: flex;
    margin-top: 20px;
  }
  .partners-img-mobile .img {
    font-size: 0;
    width: 125px;
    height: 75px;
    margin-right: 20px;
    object-fit: contain;
  }
  /* Partners End */

  /* Our Partners Start */
  .for-partners {
    height: 386px;
    padding: 0;
  }
  .for-partners .content-box {
    align-items: flex-start;
    margin-top: 30px;
  }
  .for-partners .form {
    display: none;
  }
  .for-partners .form.form-mobile {
    display: block;
  }
  .for-partners .title {
    display: none;
  }
  .for-partners .title-mobile {
    display: block;
    font-size: 20px;
    color: #f5f5f5;
    text-align: left;
  }
  .for-partners .accept {
    display: none;
  }
  .for-partners .accept.accept-mobile {
    display: flex;
    height: 16px;
    justify-content: flex-start;
    margin-left: 20px;
  }
  .for-partners .accept.accept-mobile .text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 10px;
    color: #f5f5f5;
  }
  .for-partners .accept.accept-mobile .text .link {
    font-size: 10px;
  }
  .for-partners .form .input {
    width: 330px;
    height: 46px;
    margin-bottom: 12px;
    font-size: 14px;
  }

  .for-partners .form .btn {
    padding: 11px 131px;
    width: 330px;
    height: 40px;
    font-size: 14px;
    margin-top: 30px;
  }
  /* Our Partners End */

  /* Map Start */
  .map {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .map .main-title {
    margin-top: 0;
  }
  #map-wrap {
    max-width: 330px;
    max-height: 159px;
    margin-top: 14px;
    margin-bottom: 0;
  }
  .map-img {
    width: 39px;
    height: 30px;
  }
  .map-img .title-wrap {
    width: 8px;
    height: 8px;
    margin-top: 2.71px;
  }
  .map-img .title-wrap .icon {
    width: 5px;
    height: 5px;
  }
  .map-img .title-wrap .title {
    font-size: 2px;
  }
  .map-img .description {
    margin-top: 2.7px;
  }
  .map-img .description span {
    font-size: 3px;
  }
  /* Map End */

  /* Footer Start */

  /* Я тут не успевал , быстро делал очень, код повторяется , из-за того, что торопился */
  .footer {
    display: none;
  }

  .footer-mobile {
    height: 337px;
    background: #231f20;
    position: relative;
    font-size: 14px;
    overflow: hidden;
  }

  .footer-img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .footer-img .img {
    position: absolute;
    top: -48px;
    right: -62px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0.2;
  }
  .footer-mobile .content {
    position: absolute;
    top: 22px;
    left: 32px;
    z-index: 2;
    color: #f5f5f5;
  }
  .footer-mobile .content .title {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 7px;
  }
  .footer-mobile .content .contacts-wrap {
    display: flex;
  }
  .footer-mobile .content .contacts-wrap .item.phone {
    margin-right: 77px;
    margin-bottom: 15px;
  }
  .footer-mobile .content .contacts-wrap .item.phone span {
    display: block;
  }
  .footer-mobile .content .email .item.email {
    margin-bottom: 20px;
  }
  .footer-mobile .content .email .item.location {
    width: 217px;
    height: 57px;
  }
  .footer-mobile .all-rights {
    position: absolute;
    left: 99px;
    bottom: 33px;
    color: #f5f5f5;
  }
  /* Footer End */
}
